body{
	background-color: black;
	color: black;
	text-align: center;

	background: url(cine2.jpg);
	background-position: center;
	background-size: 100%;
	font-size: 20px;

}
h1{
	font-size: 30px;
}