a{
    color:DeepPink;
    font-size: 25px;
}
ul > li{
    list-style: none;
}
.button {
    background-color: Black;
    padding: 15px 32px;
    
    text-align: center;
    text-decoration: none;
    margin: 10px;
    display: block;
    border-radius: 50px;
    font-size: 22px;
    
    
    

    
}
.button:hover {
    background-color: #191970;
    text-shadow: 1px 1px black; 
    color: white;
}
body{
    background-color: #00bfff;
}