h1{ font-size: 60px;
	text-align: center;
 }
 h3{ font-family: times new roman;
 	font-size: 20px;

 }
 body{ background-color: black; 
 	color: white;
 }
 section{
 	background-color: white;
 }